{% extends 'base.html' %} 
{% comment %} {% load static %} {% endcomment %}
{% block title%}О сайте{% endblock %}

{% block main_content %}
        <header class="header">
            <div class="container">
                <h1>Link shortening service</h1>
            </div>
        </header>
        <main>
            <div class="content">
                <form method="POST" id="create-link-form">
                    {% csrf_token %}
                    <div class="fields">
                        <h2 class="fields_label">Enter link for shortening</h2>  
                        {{ form.long_link }}
                        <h2 class="fields_label">Days to delete link</h2>
                        {{ form.time_to_delete }}
                    </div>

                    <input type="submit" value="Створити" class="button">

                </form>
            </div>
            
            
        </main>
       <div class="link_ready">
            <h3 class="link_ready_text" id="success"></h3>
        </div>
{% endblock main_content %} 







